body{
    background-color: azure;
    text-align: center;
}

.header{
    font-family: 'Tangerine', cursive;
    font-size: 37px;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 20px;
    border: none;
    padding: 2px;
    text-align: center;
    width: 1315px;
    transition: transform 1s, background-color 1s, color 1s;
    margin: 8px;
}

.header:hover{
    transform:scale(1.05);
    background-color: azure;
    color: blue;
}


.footer{
    bottom: 0;
    font-family: cursive;
    color: black;
    text-shadow: 2px 2px 2px grey;
    font-size: 40px;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: azure;
}

canvas{
    border-radius: 20px;
    animation-name: glow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0%{box-shadow: 1px 1px 50px rgb(209, 4, 4);}
    20%{box-shadow: 1px 1px 50px rgb(255, 255, 61);}
    40%{box-shadow: 1px 1px 50px rgb(0, 0, 197);}
    60%{box-shadow: 1px 1px 50px green;}
    80%{box-shadow: 1px 1px 50px rgb(255, 200, 209);}
    100%{box-shadow: 1px 1px 50px rgb(209, 4, 4);}
}

video{
    border-radius: 20px;
}